{% extends 'base.html' %}

{% block bodyblock %}
    
    <br> <br><br><br><br>
    <h1 style="text-align: center; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: #0f0c0c;">
       <b>A deep learning approach to real world applications: Empirical Analysis</b>
       <br>
       (Deep learning Model recomendation)
    </h1>
    <br><br>
    <h3 style="text-align: center; font-family:'Times New Roman', Times, serif; color: rgb(255, 0, 0)"><b>
      <span><b style="font-size:35px;">Dog Breed Classifier</b></span>
    </b></h3><br><br>
    <h3 style="text-align: center; font-family:'Times New Roman', Times, serif; color: rgb(255,0,0);"><b>
      <span> Go  to  <b style="font-size:35px;">'Predict'</b>  section in navbar to  upload  the  dog image  to  Predict  the  Dog  Breed !!</span>
    </b></h3><br><br>



    <!-- Footer -->

    
    {% endblock %}